/*variables*/
/*imports*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Roboto:ital,wght@0,300;1,100&display=swap");
/*normalize*/
*,
*::before *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

p {
  font-size: 2em;
  padding: 1.5rem;
  display: inline-block;
  text-align: center; }

/*estilos globales*/
html {
  font-size: 62.5%;
  font-family: "Josefin+Sans", sans-serif;
  color: #141E27; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  font-size: 2em;
  color: #141E27;
  display: inline-block; }

/*helper*/
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1920px;
  margin: 0 auto; }

.grid-container {
  display: grid;
  background-color: #F0F69F;
  height: auto;
  width: auto;
  grid-template-columns: auto auto; }

.info {
  display: grid;
  background-color: #EA907A;
  height: auto; }

.text {
  background-color: #F0F69F;
  display: grid; }

.carousel {
  background-color: #F0F69F; }

.lista {
  list-style-type: circle;
  font-size: 2em;
  text-align: justify; }

.contact {
  width: 100%;
  height: 100vh;
  background-image: url(../img/banner.jpg); }
  .contact::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  .contact .contain {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    font-family: sans-serif; }
    .contact .contain .title2 {
      font-size: 80px;
      color: white;
      font-weight: lighter;
      text-align: center;
      top: 0%;
      left: auto; }
    .contact .contain .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .contact .contain .form .input-contain {
        width: 45%;
        height: 45px;
        border-bottom: 1px solid white;
        margin-top: 70px;
        position: relative; }
        .contact .contain .form .input-contain input {
          width: 100%;
          height: 100%;
          background-color: transparent;
          border: none;
          outline: none;
          color: white;
          font-size: 14px;
          letter-spacing: 1px;
          position: relative;
          z-index: 1; }
          .contact .contain .form .input-contain input:focus ~ label span, .contact .contain .form .input-contain input:valid ~ label span {
            transform: translateY(-30px); }
          .contact .contain .form .input-contain input:focus ~ label::before, .contact .contain .form .input-contain input:valid ~ label::before {
            width: 101%; }
          .contact .contain .form .input-contain input:required {
            box-shadow: none; }
        .contact .contain .form .input-contain label {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0; }
          .contact .contain .form .input-contain label::before {
            content: '';
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 2px;
            background-color: black;
            bottom: -1px;
            transition: width .3s ease; }
          .contact .contain .form .input-contain label span {
            position: absolute;
            top: 13px;
            color: white;
            font-size: 14px;
            letter-spacing: 1px;
            transition: transform .3s ease; }
    .contact .contain .textarea-contain {
      width: 100%;
      border-bottom: 1px solid white;
      margin-top: 70px;
      position: relative; }
      .contact .contain .textarea-contain textarea {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        resize: none;
        position: relative;
        z-index: 1;
        color: #fff;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 13px 13px 13px 0px;
        font-family: sans-serif; }
        .contact .contain .textarea-contain textarea:focus ~ label span, .contact .contain .textarea-contain textarea:valid ~ label span {
          transform: translateY(-30px); }
        .contact .contain .textarea-contain textarea:focus ~ label::before, .contact .contain .textarea-contain textarea:valid ~ label::before {
          width: 101%; }
        .contact .contain .textarea-contain textarea:required {
          box-shadow: none; }
      .contact .contain .textarea-contain label {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0; }
        .contact .contain .textarea-contain label::before {
          content: '';
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 0%;
          height: 2px;
          background-color: black;
          bottom: -1px;
          transition: width .3s ease; }
        .contact .contain .textarea-contain label span {
          position: absolute;
          top: 13px;
          color: white;
          font-size: 14px;
          letter-spacing: 1px;
          transition: transform .3s ease; }
    .contact .contain button {
      width: 110px;
      height: 45px;
      outline: none;
      border-radius: 5px;
      margin: 50px auto 0px auto;
      background-color: black;
      color: white;
      border: 2px solid black;
      font-size: 17px;
      letter-spacing: 1px;
      cursor: pointer;
      transition: background-color .3s ease, color .3s ease, border .3s ease; }
      .contact .contain button:hover {
        background-color: #fff;
        color: #000;
        border: 2px solid #000; }

/*header y navbar*/
header {
  background-color: #B983FF; }
  header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem; }
  header .menu {
    gap: 21px;
    flex-basis: 40%;
    justify-content: space-between; }
  header .logo {
    width: 10rem;
    height: 10rem;
    flex-basis: 20%; }
  header .menu__item__item {
    position: relative; }
  header .menu__item:hover .sub-menu {
    display: block; }
  header .menu__item .menu__link {
    font-size: 1.7rem;
    padding: 0.5rem;
    position: relative; }
  header .menu__item .sub-menu {
    display: none;
    position: absolute;
    right: 15px; }
    header .menu__item .sub-menu__link {
      padding: 0.5rem;
      font-size: 1.7rem;
      transition: all 0.3s ease-in-out; }
      header .menu__item .sub-menu__link:hover {
        background-color: #141E27;
        color: #B983FF; }

main img {
  width: 100%;
  height: 400px;
  min-width: 10vh;
  min-height: 10vh; }

h1 {
  color: white;
  font-size: 3rem;
  font-family: 'Josefin+Sans', sans-serif;
  position: absolute;
  top: 40%;
  left: 40%; }

#footer {
  display: grid;
  background-color: black;
  position: relative;
  padding: 0.5rem;
  grid-template-columns: 150px 50px;
  justify-content: center; }

#footer h3 {
  color: white;
  text-align: center;
  padding: 0%; }

div .cachi, div .tequila, div .wisky {
  width: 20rem;
  height: 20rem; }

div .quienes-somos {
  width: 20rem;
  height: 20rem; }

div .que-hacemos {
  width: 20rem;
  height: 20rem; }

a img {
  width: 100%; }
